$font-size: 15px;
$font-kerning: 0.04em;
$font-leading: $font-size * 1.4;
$font-leading-large: $font-leading * 2;
$text-color: #b9b9b9;
$accent-color: #ffffff;
$bg-color: #000000;
$max-paragraph-width: 35rem;
$row-height: $font-leading * 4;