@import "./_settings";

:global(*, *::before, *::after) {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

:global(a) {
    text-decoration: none;
    color: inherit;
}

:global(button) {
    border: none;
    padding: 0;
    margin: 0;
    font-size: inherit;
    background-color: inherit;
    color: inherit;
}

:global(ul) {
    list-style: none;
    padding: 0;
    margin: 0;
}

:global(h1, h2, h3, h4, h5, h6, p){
    margin: 0;
    padding: 0;
    font-weight: inherit;
    font-size: inherit;
}

:global(figure){
    margin: 0;
    padding: 0;
}